<!-- Date Filter Form -->
<form method="get" action="" class="flex flex-wrap items-end space-x-0 sm:space-x-4">

    <!-- Display any non-field errors -->
    {% if form_filter_dates.non_field_errors %}
        <div class="text-red-600 text-sm">
            <!-- Non-field Errors -->
            {{ form_filter_dates.non_field_errors }}
        </div>
    {% endif %}

    <!-- From Date Field -->
    <div class="w-full sm:w-auto">
        <!-- Label -->
        <label for="{{ form_filter_dates.date_from.id_for_label }}" class="block text-sm/6 font-medium text-gray-900">
            <!-- Search Query Label -->
            {{ form_filter_dates.date_from.label }}
            </label>
    
            <!-- Input Field Wrapper -->
            <div class="mt-2">
                <input type="date" name="{{ form_filter_dates.date_from.name }}" id="{{ form_filter_dates.date_from.id_for_label }}" 
                       placeholder="{{ form_filter_dates.date_from.field.widget.attrs.placeholder }}"
                       value="{{ form_filter_dates.date_from.value|date:'Y-m-d'|default:form_filter_dates.date_from.value }}"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
            </div>
    </div>

    <!-- To Date Field -->
    <div class="w-full mt-4 sm:mt-0 sm:w-auto">
        <!-- Label -->
        <label for="{{ form_filter_dates.date_to.id_for_label }}" class="block text-sm/6 font-medium text-gray-900">
            <!-- Search Query Label -->
            {{ form_filter_dates.date_to.label }}
            </label>
    
            <!-- Input Field Wrapper -->
            <div class="mt-2">
                <input type="date" name="{{ form_filter_dates.date_to.name }}" id="{{ form_filter_dates.date_to.id_for_label }}" 
                       placeholder="{{ form_filter_dates.date_to.field.widget.attrs.placeholder }}"
                       value="{{ form_filter_dates.date_to.value|date:'Y-m-d'|default:form_filter_dates.date_to.value }}"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
            </div>
    </div>

    <!-- Submit Button -->
    <div class="w-full mt-4 sm:mt-0 sm:w-auto">
        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Filter</button>
    </div>
</form>