<!-- Simple Search Form -->
<form action="{% url 'loansapp:loan_search' %}" method="post" class="flex flex-wrap justify-left items-end space-x-0 sm:space-x-4">
    {% csrf_token %}

    <!-- Display any non-field errors -->
    {% if form_search.non_field_errors %}
        <div class="text-red-600 text-sm">
            <!-- Non-field Errors -->
            {{ form_search.non_field_errors }}
        </div>
    {% endif %}

    <!-- Search Query Field -->
    <div class="w-full sm:w-auto">
        <!-- Label -->
        <label for="{{ form_search.search_query.id_for_label }}" class="block text-sm/6 font-medium text-gray-900">
            <!-- Search Query Label -->
            {{ form_search.search_query.label }}
        </label>

        <!-- Input Field Wrapper -->
        <div class="mt-2">
            <input type="text" name="{{ form_search.search_query.name }}" id="{{ form_search.search_query.id_for_label }}" 
                   placeholder="{{ form_search.search_query.field.widget.attrs.placeholder }}"
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
        </div>

        <!-- Display field-specific errors -->
        {% if form_search.search_query.errors %}
            <div class="text-red-600 text-sm">
                <!-- Search Query Errors -->
                {{ form_search.search_query.errors }}
            </div>
        {% endif %}
    </div>

    <!-- Submit Button -->
    <div class="w-full mt-4 sm:mt-0 sm:w-auto">
        <input type="submit" value="Search" 
               class="block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    </div>
</form>