{% extends "layout.html" %}

{% block title %}
    Add Loan
{% endblock %}

{% block main %}
<!-- TODO add patterns to inputs such as pattern="[A-Za-z]{1,5} -->
<h1>Add Loan</h1>
<div class="col-md-6 col-sm-12 mx-auto">   
<form action="/add-loan" method="post">
        <div class="mb-3 form-floating">
            <input class="form-control" id="loan_name" name="loan_name" autocomplete="off" placeholder="Purpose of the loan">
            <label for="loan_name">Loan name</label>
        </div>
        <div class="mb-3 form-floating">
            <select class="form-select" id="vendor" name="vendor">
                <option hidden disabled selected value>Select vendor</option>
                {% for vendor in vendors %}
                <option value="{{ vendor.id }}">{{ vendor.name }}</option>
                {% endfor %}
            </select>
            <label for="vendor">Vendor</label>
        </div>
        <div class="mb-3 input-group">
            <div class="input-group-text">
                <input class="form-check-input" id="id_needed" name="id_needed" type="checkbox">
                <label class="form-check-label" for="id_needed">Agreement ID needed</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="agreement_id" name="agreement_id" placeholder="Agreement Number or wiretransfer title">
                <label for="agreement_id">Agreement ID</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3 form-floating">
                    <input class="form-control" id="installment_amount" name="installment_amount" placeholder="Installment amount">
                    <label for="installment_amount">Installment amount</label>
                    <div id="installmentAmountHelp" class="form-text">Use '.' char for decimals (eg.: 10.1)</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 form-floating">
                    <input class="form-control" id="installments_count" name="installments_count" placeholder="Installments number">
                    <label for="installments_count">No of installments</label> <!-- TODO adding +/- buttons with bootstrap -->
                </div>
            </div>
        </div>
        <div class="mb-3 input-group">
            <div class="input-group-text">
                <input class="form-check-input" id="last_installment_diff" name="last_installment_diff" type="checkbox">
                <label class="form-check-label" for="last_installment_diff">Last installment is different</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="last_installment_amount" name="last_installment_amount" placehoder="Last installment amount">
                <label for="last_installment_amount">Last installment amount</label>
                <div id="lastInstallmentAmountHelp" class="form-text">Use '.' char for decimals (eg.: 10.1)</div>
            </div>
        </div>
        <div class="mb-3 form-floating">
            <input class="form-control" id="start_date" name="start_date" placeholder="Enter date in YYYY-MM-DD format"> <!-- TODO add date picker -->
            <label for="start_date">First payment date (YYYY-MM-DD)</label>
        </div>
        <div class="mb-3 form-floating">
            <input class="form-control" id="due_day" name="due_day" placeholder="1-31" type="number" min="1" max="31">
            <label for="due_day">Due day each month (1-31)</label>
        </div>
        <button class="btn btn-primary" type="submit">Add Loan</button>
    </form>
</div> 
{% endblock %}
